{:app/config   {}

 :app/db       {:config #ig/ref :app/config}

 :app/server   {:config #ig/ref :app/config
                :port 8080}

 :app/email-service {:protocol ""
                     :account ""
                     :password ""
                     :interval 5000}

 :app/qb-client {:auth
                 {:client-id ""
                  :client-secret ""
                  :api-host ""
                  :redirect ""}
                 :config #ig/ref :app/config}}
