{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        cprop/cprop         {:mvn/version "0.1.19"}
        ring/ring           {:mvn/version "1.9.6"}
        http-kit/http-kit   {:mvn/version "2.5.3"}
        integrant/integrant {:mvn/version "0.8.0"}
        compojure/compojure {:mvn/version "1.7.0"}
        hiccup/hiccup       {:mvn/version "1.0.5"}
        io.forward/clojure-mail {:mvn/version "1.0.8"}
        org.apache.tika/tika-app {:mvn/version "2.6.0"}
        com.intuit.quickbooks-online/ipp-v3-java-data {:mvn/version "6.2.4"}
        com.intuit.quickbooks-online/ipp-v3-java-devkit {:mvn/version "6.2.4"}
        com.intuit.quickbooks-online/oauth2-platform-api {:mvn/version "6.2.4"}
        com.intuit.quickbooks-online/ipp-java-qbapihelper {:mvn/version "5.0.5"}
        com.intuit.quickbooks-online/payments-api {:mvn/version "6.2.4"}}

 :aliases
 {:nrepl {:extra-paths []
          :extra-deps  {refactor-nrepl/refactor-nrepl {:mvn/version "3.6.0"}
                        cider/cider-nrepl             {:mvn/version "0.28.7"}
                        cider/piggieback              {:mvn/version "0.5.3"}
                        zprint/zprint                 {:mvn/version "1.2.4"}
                        hashp/hashp                   {:mvn/version "0.2.2"}}

          :main-opts   ["-m" "nrepl.cmdline"
                        "-b" "0.0.0.0"
                        "--middleware"
                        "[refactor-nrepl.middleware/wrap-refactor,cider.nrepl/cider-middleware]"]

          :jvm-opts    ^:replace ["-XX:-OmitStackTraceInFastThrow"
                                  "-XX:+UnlockDiagnosticVMOptions"
                                  "-XX:+DebugNonSafepoints"
                                  "-Djdk.attach.allowAttachSelf"]}
  :test {:extra-paths ["test"]
         :extra-deps {clj-http-fake/clj-http-fake               {:mvn/version "1.0.3"}
                      lambdaisland/kaocha                       {:mvn/version "1.71.1119"}
                      criterium/criterium                       {:mvn/version "0.4.6"}
                      com.clojure-goes-fast/clj-java-decompiler {:mvn/version "0.3.2"}
                      com.clojure-goes-fast/clj-async-profiler  {:mvn/version "1.0.1"}}}
  :refactor
  {:extra-deps {rewrite-clj/rewrite-clj {:mvn/version "1.1.45"}}}}}
